<a [routerLink]="['/manage/card']" routerLinkActive="router-link-active">Add Your Own Card</a>
<div class="cards-list">
    <banner (click)="edit(card)" *ngFor="let card of cards|async" [card]="card"></banner>
</div>

<ng-container *ngIf="(user|async) as user">
    <ng-container *ngIf="user.Id">
        <h3>{{user.Name}}</h3>
        <h3>{{user.Username}}</h3>
        <h3>{{user.Email}}</h3>
        <h3>{{user.Phone}}</h3>
        <button (click)="logout()">logout</button>
    </ng-container>
</ng-container>
<ng-container *ngIf="allUsers|async as users">
    <ng-container *ngFor="let user of users">
        <h3>{{user.id}}</h3>
        <h3>{{user.name}}</h3>
        <h3>{{user.username}}</h3>
        <h3>{{user.email}}</h3>
        <h3>{{user.phone}}</h3>
    </ng-container>

</ng-container>